{{#if username}}
  <h1> Welcome {{username}} ! </h1>
{{/if}}

<form action="/auth/logout" method="POST">
  <button class="btn btn-primary btn-lg">Logout</button>
</form>

<button class="btn btn-primary btn-lg"><a class="btnCreatePost" href="/posts/create">Create a new Post</a></button>

<h2>Latest Posts</h2>
<div class="post-container">
  {{#each allPosts}}
    
      <h3> <a class="titlePosts" href="/posts/single-post/{{this._id}}"> {{this.title}} </a></h3>
      
      <h4>{{this.history}}</h4>

      <img src="{{this.imageUrl}}" alt="" width="300" />
      {{!-- {{#if this.isOwner}}
      <form action="/posts/{{this._id}}/delete" method="POST">
        <button type="submit">Delete</button>
      </form>
    {{/if}} 
    <p>- posted by {{this.owner.username}}</p> --}}
    
  {{/each}}
</div>