<h2>NEWS</h2>
<div class="post-container">
  {{#each posts}}
    
      <h3> <a href="/posts/single-post/{{this._id}}"> {{this.title}} </a></h3>
      
      <h4>{{this.history}}</h4>

      <img src="{{this.imageUrl}}" alt="" width="300" />
      {{!-- {{#if this.isOwner}}
      <form action="/posts/{{this._id}}/delete" method="POST">
        <button type="submit">Delete</button>
      </form>
    {{/if}} 
    <p>- posted by {{this.owner.username}}</p> --}}
    
  {{/each}}
</div>