<div class="signupform col-sm-12 col-md-6 mainDishContainer">
<div>
<div class="mainDishDiv">
<h2>{{recipe.label}}</h2>
  <img id="recipe-photo" src="{{recipe.image}}" />
</div>
{{#each recipe.ingredients}}
  <div class="ingredientsDiv">
    <li><img id="ingredient-photo" src="{{image}}" width="50px" /></li>
    <b>{{text}}</b>
  </div>
{{/each}}
</div>
<a href="{{recipe.url}}">For more details</a>
</div>